/* 登录注册左侧背景 */
.left_bg {
    width: 50vw;
    height: 100%;
    position: fixed;
    background-image: url("src/static/image/login.png");
}

/* 左侧导航栏布局 */
.left_bar {
    width: 100%;
    height: 100%;
}

/* 顶部边栏布局 */
.top_bar {
    width: 100%;
    height: 80px;
}

/* 右侧容器视图 */
.right_container {
    width: 100%;
    height: 85vh;
    padding: 20px;
    background-color: #f1f1f1;
}
